.position{
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/bg.jpeg') center center no-repeat;
  background-size: cover;
}

.form-position{
  position: relative;
  width: 100%;
  height: 700px;
}

.login-form{
  width: 400px;
  height: 200px;
  position: absolute;
  border: 0;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -100px;
  background-color: white;
  z-index: 10;
}

.enroll-form{
  width: 400px;
  height: 304px;
  position: absolute;
  border: 0;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -152px;
  background-color: white;
  z-index: 10;
}

.form-position .login-h1,.enroll-h1{
  position: absolute;
  left: 50%;
  margin-left: -23px;
  color: white;
}

.form-position .login-h1{
  top: 25%;
}

.form-position .enroll-h1{
  top: 18%;
}

.username,.email,.password{
  width: 250px;
  height: 30px;
  padding-left: 10px;
  border: #FFCC33 solid 1px;
  border-radius: 3px;
  outline: none;
}

.username{
  margin-top: 18px;
}

.submit{
  float: right;
  margin-top: 10px;
  margin-right: 70px;
  width: 260px;
  height: 35px;
  border: 0;
  border-radius: 3px;
  background-color: #FFCC33;
  color: white;
  font-size: 20px;
  outline: none;
}

.return{
  float: right;
  margin-right: 75px;
  color: #FFCC33;
  font-size: 14px;
}

.icon{
  background: url("../img/sprites.png") no-repeat;
}

#icon1{
  width: 44px;
  height: 44px;
  background-position: -13px -3px;
}

#icon2{
  width: 44px;
  height: 44px;
  background-position: -100px -4px;
}

#icon3{
  width: 44px;
  height: 44px;
  background-position: -187px -3px;
}

.other-pass{
  position: absolute;
  width: 99px;
  height: 200px;
  margin: 0;
  padding: 0;
  border-left: #919191 solid 1px;
  left: 50%;
  top: 50%;
  margin-left: 150px;
  margin-top: -100px;
  background-color: white;
  z-index: 10;
}

.other-pass span{
  display: inline-block;
  float: left;
  padding: 15px 7px;
  width: 30px;
  height: 170px;
  font-size: 20px;
  color: #FFCC33;
}

ul{
  margin: 0;
  padding: 0;
  float: left;
}

li{
  list-style: none;
  margin-top: 17px;
}

.username-label,.password-label,.email-label,.password-again-label{
  display: block;
  visibility: hidden;
  text-align: left;
  margin-left: 70px;
  font-size: 12px;
  color: #DC143C;
}


